DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
BETTER_AUTH_SECRET=0ryjvnoeJBWFrd24ze3DG9XjAOIYiqWK
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

KEYCLOAK_CLIENT_ID=test-client-id
KEYCLOAK_CLIENT_SECRET=xFk2fxus0hYHheIgbGHPhczjaCjx8Ctd
KEYCLOAK_ISSUER=http://localhost:8080/realms/RpRQ