# App (for traefik labels)
APP_HOST=rprq.contoso.com
APP_PORT=3000

# Proxy (for app image build)
HTTP_PROXY=http://192.168.8.10:8080
HTTPS_PROXY=http://192.168.8.10:8080
NO_PROXY=localhost,127.0.0.1,.contoso.com,rprq-db

# Extra hosts
# for absents DNS records and TLS

# For Better-Auth
AUTH_HOST=auth01.contoso.com
AUTH_IP=192.168.8.101

# For obtain CA cert to continue Keycloak conversation
CA_HOST=ca.contoso.com
CA_IP=192.168.8.102

