DATABASE_URL=postgresql://postgres:postgres@rprq-db:5432/postgres
BETTER_AUTH_SECRET=superSecretPassword
BETTER_AUTH_URL=https://rprq.contoso.com # Base URL of your app

KEYCLOAK_CLIENT_ID=rprq-client
KEYCLOAK_CLIENT_SECRET=supersecretpassword
KEYCLOAK_ISSUER=https://auth.contoso.com/realms/RpRq

LDAP_URL=ldap://192.168.88.2:389
LDAP_BIND_DN=CN=svc.keycloack,OU=Service Accounts,DC=contoso,DC=com
LDAP_BIND_PASSWORD=bindSecretPassword
LDAP_BASE_DN=OU=Users,DC=contoso,DC=com
