# Certificates
NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
LEGO_CA_CERTIFICATES=/root/.step/certs/root_ca.crt

# CA
FINGERPRINT=937a14e363a0e64ab651806111111111111111111117616cb19ef5f7ab45da55
CERT_AUTH=https://ca.contoso.com
CERT_AUTH_PORT=443

