DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
BETTER_AUTH_SECRET=0ryjvnoeJBWFrd24ze3DG9XjAOIYiqWK
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

KEYCLOAK_CLIENT_ID=test-client-id
KEYCLOAK_CLIENT_SECRET=xFk2fxus0hYHheIgbGHPhczjaCjx8Ctd
KEYCLOAK_ISSUER=http://localhost:8080/realms/RpRQ

LDAP_URL=ldap://192.168.122.76:389
LDAP_BIND_DN=CN=svc.cv.keycloak,OU=Services,DC=contoso,DC=com
LDAP_BIND_PASSWORD=Qwerty12345
LDAP_BASE_DN=cn=Users,dc=contoso,dc=com
